*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    font-family: Verdana;
}
#container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(4, 1fr);
    height: 100vh;
}
header{
    background: rgb(23, 23, 148);
    grid-column: 2/4;
    grid-row: 1/1;
}

sidebar{
    display: flex;
    gap: 20px;
    flex-direction: column;
    background: rgb(12, 163, 12);
    grid-column: 1/2;
    grid-row: 1/5;
    text-align: center;
}
sidebar *{
    color: #fff;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
}
sidebar ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
main{
    background: rgb(163, 13, 13);
    grid-column: 2/4;
    grid-row: 2/5;
}